<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.application">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainacvitity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".food.FoodActivity"
            android:label="@string/foodact"></activity>
        <activity
            android:name=".lodge.LodgeActivity"
            android:label="@string/lodgeact"></activity>
        <activity
            android:name=".health.HealthActivity"
            android:label="@string/healthact"></activity>
        <activity
            android:name=".performance.PerformanceActivity"
            android:label="@string/performanceact"></activity>
        <activity
            android:name=".beauty.BeautyActivity"
            android:label="@string/beautyact"></activity>
        <activity
            android:name=".course.CourseActivity"
            android:label="@string/courseact"></activity>
        <activity
            android:name=".maps.MapActivity"
            android:label="지도"></activity>
        <activity
            android:name=".health.HospitalInfo"
            android:label="병원"></activity>
        <activity
            android:name=".food.FoodInfo"
            android:label="맛집" />
        <activity
            android:name=".lodge.LodgeInfo"
            android:label="숙박" />
        <activity
            android:name=".beauty.BeautyInfo"
            android:label="미용" />
        <activity
            android:name=".performance.PerformanceInfo"
            android:label="극장" />
        <activity
            android:name=".camera.MyCamera"
            android:label="카메라" />
        <activity android:name=".splash.SplashActivity" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:label="개인정보" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>
